name: Check
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: adopt
        java-version: 8
    - name: Cache
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{runner.os}}-gradle-${{hashFiles('build.gradle')}}
    - name: Gradle Build
      run: ./gradlew syntaxCheck build
